extends layout

block content
  #wrapper
    #logo
        img(src='/img/logo.png')
    #display
        #login        
            form(method='post')
                | Enter your name
                div
                    input(type='text', name='username')
                    input(type='submit', value='Log In')
        
    include footer
